<%= simple_form_for(@list) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-danger' %>
  </div>
<% end %>

 <%= link_to "cancel", lists_path(@list) %>
